.Container{    
    padding-left: 40px;
    padding-right: 40px;
}

.Header{
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #000;
    
}

/* .Navigation{
    display: flex;
    align-items: center;
} */

.Link{
    padding-right: 20px;
    color:blue;
    text-decoration: none;
    &.active {
            color: red;
    };
}

